.questions {
    &__questionList {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 100%;

        row-gap: 24px;
    }

    &__question {
        padding: 0 16px;
        color: var(--black-100);
        text-align: center;
        font-weight: 600;
        font-size: 18px;
        line-height: 31px;
    }

    &__answers {
        display: grid;
        padding-bottom: 24px;

        row-gap: 8px;
    }

    &__answer {
        position: relative;
        display: block;
        padding: 0 17px;
        border: none;
        background-color: transparent;
        cursor: pointer;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            right: 0;
            left: 0;
            display: block;
            height: 1px;
            background-color: var(--black-40);
            transition: background-color 400ms;
            transform: translateY(-50%);
        }

        &:focus,
        &.state__selected {
            &::before {
                background-color: var(--orange-100);
            }

            .questions__answerContent {
                path {
                    stroke: var(--orange-100);
                }
            }
        }

        &.state__selected {
            .questions__answerContent {
                svg {
                    fill: var(--orange-5);
                }
            }
        }

        &.state__pending {
            &::before {
                animation: pendingAnimation1 0.5s ease-in-out infinite alternate;
            }

            .questions__answerContent svg,
            .questions__answerContent path {
                animation: pendingAnimation2 0.5s ease-in-out infinite alternate;
            }
        }

        &.state__correct {
            &::before {
                background-color: var(--green-100) !important;
            }

            .questions__answerContent {
                svg {
                    fill: var(--green-5) !important;
                }

                path {
                    stroke: var(--green-100) !important;
                }
            }
        }

        &.state__wrong {
            &::before {
                background-color: var(--red-100) !important;
            }

            .questions__answerContent {
                svg {
                    fill: var(--red-5) !important;
                }

                path {
                    stroke: var(--red-100) !important;
                }
            }
        }
    }

    &__answerContent {
        position: relative;
        display: flex;
        align-items: center;
        max-width: 288px;
        height: 100%;
        min-height: 56px;
        margin: 0 auto;
        padding: 8px 24px;
        border-radius: 8px;
        color: var(--black-100);
        text-align: left;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        column-gap: 8px;

        svg {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            transition: fill 400ms;

            fill: #ffffff;
        }

        path {
            transition: stroke 400ms;

            stroke: #d0d0d8;
        }
    }

    &__answerLetter {
        position: relative;
        color: var(--orange-100);
        text-transform: uppercase;
        font-weight: 600;
    }

    &__answerText {
        position: relative;
        display: -webkit-box;
        overflow: hidden;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;

        -webkit-line-clamp: 2;
    }
}

@keyframes pendingAnimation1 {
    from {
        background-color: var(--orange-100);
    }

    to {
        background-color: var(--black-40);
    }
}

@keyframes pendingAnimation2 {
    from {
        fill: var(--orange-5);
        stroke: var(--orange-100);
    }

    to {
        fill: var(--white-100);
        stroke: var(--black-40);
    }
}

@media (min-width: 768px) {
    .questions {
        &__answers {
            width: 100%;
            max-width: 644px;
            margin: 0 auto;

            grid-template-columns: repeat(2, minmax(100px, 1fr));
            row-gap: 24px;
        }
    }
}

@media (min-width: 991px) {
    .questions {
        &__answer {
            &:hover {
                &::before {
                    background-color: var(--orange-100);
                }

                .questions__answerContent {
                    path {
                        stroke: var(--orange-100);
                    }
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    .questions {
        &__placeholder {
            display: none;
        }

        &__questionList {
            padding: 135px 40px 120px;
        }

        &__question {
            padding: 0;
            text-align: left;
            font-size: 32px;
            line-height: 37px;
        }

        &__answers {
            max-width: 844px;
            margin: 0;
            padding: 0;

            grid-template-columns: repeat(2, minmax(100px, 1fr));
            row-gap: 32px;
        }

        &__answerContent {
            max-width: 390px;
            min-height: 72px;
            padding: 8px 32px;
            font-size: 20px;
            line-height: 23px;
        }
    }
}

@media (min-width: 1300px) {
    .questions {
        &__answerContent {
            min-height: 75px;
        }
    }
}

@media (min-width: 1440px) {
    .questions {
        &__questionList {
            padding-right: 80px;
            padding-left: 80px;
        }
    }
}

@media (min-width: 1900px) {
    .questions {
        &__question {
            text-align: center;
        }

        &__answers {
            width: 100%;
            margin: 0 auto;
        }
    }
}
