.title {
    color: var(--black-100);
    text-align: center;
    font: 600 32px/37px 'Inter';
}

@media (min-width: 991px) {
    .title {
        text-align: left;
        font-size: 46px;
        line-height: 56px;
    }
}

@media (min-width: 1200px) {
    .title {
        font-size: 56px;
        line-height: 64px;
    }
}
